@import url(../icons/node_modules/bootstrap-icons/font/bootstrap-icons.css);

:root{
    --font-primaria : 'Cotoris';


    --cor-primaria: #5B0017;
}

.header-style{
    background: var(--cor-primaria);
    margin: 0;
    padding: 2em 0 1.5em 3em ;
}

@font-face {
    font-family: "Cotoris";
    src: url("fonts/Cotoris.ttf");
}

p, h1, h2, h3, a{
    font-family: var(--font-primaria);
}

.nav-items{
    text-decoration: none;
    color: #FFF;
    font-size: 1.3125em;
    font-weight: 400;
    margin-right: 5.313em;
}

#btn-mobile{
    display: none;
    background: none;
    border: none;
    font-size: 2em;
}

.logo-style{
    padding: 0;
}

@media (max-width: 600px){

    .header-style{
        padding: 2em;
    }
    
    .nav-items {
        margin-right: 0; /* Remove a margem à direita para telas pequenas */
        text-align: center; /* Alinha o texto ao centro */
        padding: 10px; /* Adiciona padding para espaçamento */
        border-bottom: 1px solid #FFF; /* Adiciona borda entre os itens */
    }

    #btn-mobile{
        display: block;
    }

   #menu {
       display: flex;
       width :100%;/* Faz com que o menu tenha largura total em telas pequenas */
       flex-direction: column; /* Faz com que os itens do menu sejam exibidos em uma coluna */
       height: 0px;
       transition: .6s;
       position: absolute;
       left: 0;
       top: 8em;
       padding-top: 2em;
       margin-top: 1em;
       visibility: hidden;
       overflow-y: hidden;
   }
   
   #nav-b.active #menu {
       height: calc(100vh - 70px);
       background: var(--cor-primaria);
       visibility: visible;
       overflow-y: auto;
   }

   .logo-smal{
        width: 26%;
   }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

@keyframes spin-reverse {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
    }
}


